body {
  background: black;
  color: #eee;
  width: 26%;
  margin: 0 auto;
  font-size: 14px;
}
h2 {
  color: #0043b6;
  font-size: 2em;
  text-align: center;
  padding: 1%;
  background: #eee;
  text-shadow: 2px 2px 2px black;
}
legend {
  color: #0043b6;
  font-size: 1.5em;
  text-align: center;
  padding: 1%;
}
form {
  background: grey;
  padding: 1%;
  box-shadow: 2px 2px 2px #eee;
  color: black;
}
