body {
  width: 20%;
}
h2 {
  color: #0043b6;
  text-align: center;
}
form {
  border: 1px solid grey;
  padding: 1%;
  box-shadow: 3px 3px 3px grey;
}
form label {
  padding: 1%;
  background: #0043b6;
  color: white;
}
