h2 {
  color: #0043b6;
}
.cuadro {
  width: 20%;
  padding: 0.5%;
  background: #0043b6;
  border-radius: 10%;
  color: #eee;
  box-shadow: 5px 5px 5px grey;
}
.cuadro p {
  border: 1px solid #eee;
  padding: 1%;
  column-count: 2;
}
